@use './variables' as *;




.display-section {
    width: 65%;
    margin: 0 auto;

    .x-completed {
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 7px;
        .n-left {
            margin-right: 2px;
        }
        .n-right {
            margin-left: 2px;
        }

    }
    .separator {
        height: 5px;
        border-radius: 2px;
        background-color: #000;
        margin-bottom: 45px;
    }


    .tasks {
        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #000;
            border-radius: 5px;

            
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
            
            

            &:not(:last-child){
                margin-bottom: 15px;
            }
            
            padding: 12px 9px;
            .task-status {
                input {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    border-color: #000;
                    border-width: 2px;
                    &:checked {
                        background-color: $green;
                        border-color: #000 !important;
                        box-shadow: none !important;
                    }
                    &:focus {
                        border-color: #000 !important;
                        box-shadow: none !important;
                    }
                }
            }
            .task-content {
                cursor: default;
                margin: 0;
                font-weight: 500;
                font-size: 1.1rem;
                flex: 1;
                margin-left: 23px;

            }
            .task-manage {
                button {
                    background-color: transparent;
                    border: none;
                    
                }
                
            }
        }
    }
    
}


.save-btn {
    background-color: #0b5ed7 !important;
    font-weight: 600 !important;
}
#TaskEdit {
    border-width: 2px !important;
    border-right: 2px solid #dee2e6 !important;
    border-right: none;
    font-size: 1.05rem;
    letter-spacing: .3px;
    font-weight: 500;
}